@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to SpotifyLike.Admin</h1>

<div></div>

<h2>Relatórios de mais favoritados</h2>

<a asp-controller="Favorites" asp-action="SongsReport" class="btn btn-primary" style="margin-top:10px">Músicas</a>

<a asp-controller="Favorites" asp-action="ArtistsReport" class="btn btn-primary" style="margin-top:10px">Artistas</a>
