<div *ngIf="!blockAccess()">
  <div *ngIf="artist != undefined">
      <span>Nome: {{artist.nome}}</span>
      <br />
      <span>Descrição: {{artist.descricao}}</span>
      <br />
      <img [src]="artist.backdrop">
  </div>

  <mat-accordion *ngIf="albums != undefined">
      <mat-expansion-panel *ngFor="let album of albums"
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{album.nome}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let song of album.musicas">{{song.titulo}} - {{song.duracao.valor}}s</p>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="blockAccess()">
  <h1>ACESSO NEGADO</h1>
  <h2>Você precisa se autenticar para acessar a aplicação</h2>
  <button mat-raised-button color="primary" (click)="goToLogin()">Log in</button>
</div>
