<div *ngIf="!blockAccess()">
  <div *ngIf="artist != undefined">
      <span>Nome: {{artist.nome}}</span>
      <br />
      <span>Descrição: {{artist.descricao}}</span>
      <br />
      <img [src]="artist.backdrop" style="max-height: 300px; width: auto; object-fit:contain;">
  </div>

  <mat-accordion *ngIf="albums != undefined">
      <mat-expansion-panel *ngFor="let album of albums"
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{album.nome}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let item of album.musicas" style="margin-bottom: 10px;">
          <mat-card-header>
            <mat-card-title>{{item.titulo}}</mat-card-title>
            <mat-card-subtitle>Duração: {{item.duracao}} s</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="favoriteSong(user.sub, item.id)">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="blockAccess()">
  <h1>ACESSO NEGADO</h1>
  <h2>Você precisa se autenticar para acessar a aplicação</h2>
  <button mat-raised-button color="primary" (click)="goToLogin()">Log in</button>
</div>
