<mat-toolbar color="primary">
  <button mat-icon-button [disabled]="!checkUserAuthenticated()" (click)="drawer.toggle()">
    <mat-icon fontIcon="">menu</mat-icon>
  </button>
  <a (click)="goToHome()">{{title}}</a>
  <span style="width: 85%;"></span>
  <button (click)="logout(); drawer.close()" mat-raised-button class="drawer-button" style="margin-top: 15px; width: 100px;">
    Logout
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer-sidenav" mode="side" >
    <br />
    <button (click)="goToHome()" mat-raised-button class="drawer-button">
      Home
    </button>
    <button (click)="goToExplore()" mat-raised-button class="drawer-button">
      Explorar Artistas
    </button>
    <button (click)="goToExploreSongs()" mat-raised-button class="drawer-button">
      Explorar Musicas
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>