<div class="content" *ngIf="!blockAccess()">
    <h1> Bem vindo, {{user.nome}} ! </h1>
    <hr style="border-color: dimgray; margin-right: 20px;" />
    <br />
    <mat-accordion>
      <mat-expansion-panel class='expansion-panel' >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon style="margin-right: 5px; color: gray;">open_in_new</mat-icon>
            Dados da conta
          </mat-panel-title>
        </mat-expansion-panel-header>
          <p>ID do Usuário: {{user.id}}</p>
          <p>Nome: {{user.nome}}</p>
          <p>E-mail: {{user.email}}</p>
          <p>Data de Nascimento: {{strDataNascimento}}</p>
          <p *ngIf="planoSelecionado">Plano: {{planoSelecionado.tipo}} - R$ {{planoSelecionado.valor}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion>
      <mat-expansion-panel class='expansion-panel'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon style="margin-right: 5px; color: red;">favorite</mat-icon>
            Músicas Favoritas 
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let song of favoritas" style="margin-bottom: 10px;">
          <mat-card-header>
            <mat-card-title>{{song.titulo}}</mat-card-title>
            <mat-card-subtitle>Duração: {{song.duracao.valor}} s</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="unfavoriteSong(user.id, song.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>
        <p *ngIf="favoritas.length == 0"> Nenhuma música favoritada.</p>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <br />

    <h3 *ngIf="playlists.length > 0">Suas playlists:</h3>
    <mat-accordion>
      <mat-expansion-panel class='expansion-panel' *ngFor="let item of playlists">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.titulo}} 
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let song of item.musicas">{{song.titulo}} - {{song.duracao.valor}}s</p>
        <p *ngIf="item.musicas.length == 0">Nenhuma música na playlist.</p>
      </mat-expansion-panel>
    </mat-accordion>
</div>

<div *ngIf="blockAccess()">
  <h1>ACESSO NEGADO</h1>
  <h2>Você precisa se autenticar para acessar a aplicação</h2>
  <button mat-raised-button color="primary" (click)="goToLogin()">Log in</button>
</div>
