<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://processanotificacao-v1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3ead820-73ea-4dab-8ec1-e5c4718d4e19/resourcegroups/Infnet_ServicosEmNuvem/providers/Microsoft.Web/sites/ProcessaNotificacao-v1</ResourceId>
    <UserName>$ProcessaNotificacao-v1</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://processanotificacao-v1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>