<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c3ead820-73ea-4dab-8ec1-e5c4718d4e19/resourceGroups/Infnet_ServicosEmNuvem/providers/Microsoft.Web/sites/spotifylike-api</ResourceId>
    <ResourceGroup>Infnet_ServicosEmNuvem</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spotifylike-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ca43316a-3560-4061-9998-fc013b35d69a</ProjectGuid>
    <PublishUrl>https://spotifylike-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>